button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

.plant-card p {
  font-size: 16px;
  font-weight: bold;
}

.plant-card p.in-stock {
  color: green;
}

.plant-card p.out-of-stock {
  color: red;
}
